<ion-view view-title="Fingerprinting Information" ng-controller="fingerprintingController as vm" >

    <div class="header-font">Fingerprinting Information</div>
    <button class="button-positive button-bg" ng-click="vm.upload()">upload</button>
    <table class="bottom-bar">
        <tr>
            <td><button class="button-positive inline full-parent" ng-click="vm.previous()"><=</button></td>
            <td><button class="button-positive inline full-parent" ng-click="vm.next()">=></button> </td>
        </tr>
    </table>
</ion-view>
